@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  /* Prevents the "blue highlight" on mobile when tapping buttons */
  -webkit-tap-highlight-color: transparent;
  /* Prevents text selection during rapid tapping */
  user-select: none;
  -webkit-user-select: none;
}

#root {
  height: 100%;
  width: 100%;
}
